<footer class="greentech-footer visible-lg sticky-footer" id="sticky-footer" style=""> 
		<div class="container"> 
			<table style="width:100%">
				<tbody>
					<tr>
						<td width="15%" align="left">
							<a data-toggle="elementscroll" href="#about">About</a>
						</td> 
						<td width="25%" align="center">
							<a data-toggle="elementscroll" href="#connect">Connect</a>
						</td>
						<td width="20%" align="center">
							<a href="#">© 2018</a> 
						</td> <td width="25%" align="center">
							<a data-toggle="elementscroll" href="#careers">Careers</a> 
						</td> 
						<td width="15%" align="right">
							<a data-toggle="elementscroll" href="#contactus">Contact</a>
						</td> 
					</tr>
				</tbody>
			</table> 
		</div>
	</footer> 