<div id="nav-primary-sticky-wrapper" class="sticky-wrapper" style="height: 55px;"> 
	<div id="nav-primary-sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 94px;">
		<nav id="nav-primary" class="navbar navbar-custom" role="navigation" style="position: fixed; top: 0px;">
			<div class="container"> 
				<div class="navbar-header"> 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span>
					</button>
					<a href="#body" data-toggle="elementscroll" class="logohref">
						<img src="assets/image/GT-Icon-Logo-WHITE.png" class="logohover" alt="GreenTech"> 
						<img src="assets/image/GT-Icon-Logo-yellow.png" class="logonormal" alt="GreenTech">
					</a>
				</div> 
				<div class="collapse navbar-collapse" id="nav"> 
					<ul class="nav navbar-nav navbar-right "> 
						<li class="dropdown"> 
							<a data-toggle="elementscroll" href="#what-we-do"> 
								<span class="drop-link">What we do?</span> <span class="text-center down-icon"> </span> 
							</a> 
						</li> 
						<li class="dropdown">
							<a data-toggle="elementscroll" href="#who-we-serve"> 
								<span class="drop-link">Who we serve?</span> 
								<span class="text-center down-icon"> </span>
							</a>
						</li>
						<li class="dropdown">
							<a class="" data-toggle="elementscroll" href="#why-we-hire"> 
								<span class="drop-link">Why hire us?</span> 
								<span class="text-center down-icon"> </span> 
							</a> 
						</li>
						<li class="dropdown last-child">
							<a class="" href="#home" data-toggle="modal" data-target="#myModalNorm"> 
								<span class="drop-link request-demo">Request a Demo</span>
							</a>
						</li>
					</ul> 
				</div>
			</div>
		</nav>
	</div>