
<section id="careers" class="page-section"> 
		<header> 
			<div class="container">
				<h1>Transform governments and businesses.</h1> 
			</div>
		</header>
		<div class="container">
			<div class="row"> 
					<div class="greentech-tab container">
						<ul class="nav nav-pills mrgauto"> 
							<li class="active link"> <a href="#1d" data-toggle="tab" class='tabcss'>Process Innovation<span class='selectblock'>&nbsp;</span> </a> </li>
							<li class='pipe'><span>|</span></li> <li class=""><a href="#2d" data-toggle="tab" class='tabcss1'>Custom Development <span>&nbsp;</span> </a> </li>
							<li class='pipe'><span>|</span></li> <li class=""><a href="#3d" data-toggle="tab" class='tabcss1'>Digital Transformation<span>&nbsp;</span> </a> </li> 
						</ul>
						<div class="tab-content clearfix"> 
							<div class="col-lg-4 text-left content-grid"> 
								<div class="content-header">
									<p class='link'>Process Innovation<span class='selectblock'>&nbsp;</span></p>
										<h1 class='auihead'>Reinvent your business model and disrupt the marketplace. </h1> 
								</div>
							
								<ul class='contentul'> 
									<li class='contentulli anch'> Reengineering</li> 
									<li class='contentulli anch'>Automation</li> 
									<li class='contentulli anch'>Integration</li> 
								</ul> 
							</div> 

              <div class="col-lg-7 text-center content-grid"> 
                <a class="" data-type="image" data-toggle="lightbox">
                  <img class="pageImage mCS_img_loaded" src="http://192.168.1.120//greentechdark/img/bg/Home-What we do-Process Innovation.png"> 
                  <span class="overlay">&nbsp;</span> 
                </a> 
              </div>

						</div> 
					</div> 
				</div>
				<div class="page-break">&nbsp;</div>
		</div>
	</section>
